<% provide(:title, "Who We Are") %>
<% provide(:nav3, "active") %>

  <div class="row">
    <div class="col-sm-8">
      <h1>Who We Are</h1>
      <p>Public Patron is an Illinois-based nonprofit organization working to free culture from the control of corporations, governments and advertisers. Our view is that the dominant media business models allow these special interests to suppress the natural process of cultural evolution, where the best ideas are adopted most widely in a society. Instead, our collective attention is largely overwhelmed with the information and perspectives that they choose. While media distibution has been liberated by the internet, the business models still incentivize creators to serve the same special interests instead of the public at large.</p>
      <blockquote>
        <p>Public Patron's mission is to facilitate open access to all digital media exempt from commercial and governmental influence, in service of the socioeconomic benefit of an educated and cultural populace. The organization shall accomplish this mission by incentivizing creators to make their media content free to all over the internet in return for ongoing, crowd-funded donations provided by our members using a process made simple and automatic with our new platform.</p>
      </blockquote>
      <p>Our solution is to provide the platform that allows for a new business model for media creators, giving them the independence to create and serve the interests of their fans. We simply aggregate and automate individual donations to creators in exchange for their work being made freely available on the web. Fans decide how much their attention is worth. We insure that creators get paid the correct percentage of each monthly donation based on the time spent consuming that creator's content. That's it. We don't get involved in content distribution and now, there is no need for corporations or governments to either.</p>
      <h2>Quick Facts</h2>
      <p><strong>Year Founded:</strong> PENDING</p>
      <p><strong>Corporate Structure:</strong> 501(c)(3) tax-exempt nonprofit organization, incorporated in Illinois</p>
      <p><strong>Location:</strong> Downers Grove, IL</p>
      <p><strong>Governance:</strong> 5-person Board of Directors</p>
      <h2>Board of Directors</h2>
      <ul>
        <li>William Maggos</li>
        <li>Joe Hahn</li>
        <li>Eric Heineman</li>
        <li>Mike Saul</li>
        <li>Clint Wiese</li>
      </ul>
      <h2>Documents</h2>
      <ul>
        <li>Articles of Incorporation</li>
        <li>IRS Form 1023</li>
        <li>Board of Directors</li>
        <li>Bylaws</li>
        <li>Conflict of Interest Policy</li>
      </ul>
    </div>
    <div class="col-sm-4"></div>
  </div><!-- /.row -->
  <hr>
