<% provide(@home = true) %>

<div class="container">
  <div class="details">
    <div class="col-md-4">
      <h2>For Creators</h2>
      <p>Artists want the freedom to express themselves. Journalists and educators want to honestly relay facts and ideas. With access to a worldwide audience over the internet, our platform allows each of them to be successful without having to compromise their independence.</p>
      <p><%= link_to "Read more...", idea_path, class: "btn btn-default", role: "button" %></p>
    </div>
    <div class="col-md-4">
      <h2>For Consumers</h2>
      <p>The internet connects us to all media. But as businesses decide how to allocate our access in order to maximize profit, they ruin the consumer experience. Let's embrace the open internet instead and give people what they want, when they want and on any device they choose. </p>
      <p><%= link_to "Read more...", idea_path, class: "btn btn-default", role: "button" %></p>
    </div>
    <div class="col-md-4">
      <h2>For the Public Good</h2>
      <p>Culture is supposed to be a social meritocracy, where the best ideas flourish. But our media, dominated by corporate and government interests, uses advertising and the control of distribution to keep us distracted and ignorant. We must fix this problem and now we can.</p>
      <p><%= link_to "Read more...", idea_path, class: "btn btn-default", role: "button" %></p>
    </div>
  </div> <!-- /details -->
</div> <!-- /container -->
