<!DOCTYPE html>
<html>

<head>
  <title>Home | Public Patron</title>
</head>

<body>
  <div class="wrapper">

    <div="header">
      <ul>
        <li><a href="#problem">The Problem</a></li>
        <li>|</li>
        <li><a href="#solution">A Solution</a></li>
        <li>|</li>
        <li><a href="#status">Where We Stand</a></li>
        <li>|</li>
        <li><a href="#team">Our Team</a></li>
      </ul>
    </div>    

    <div class="center">
      <img src="/images/logo13.png" height="300px" align="left">      
      <h1>Public Patron</h1>
      <p>Disrupt Big Media. Move Culture Forward.</p>
      <p>We are building a non-profit online service that makes crowdfunding for digital media simple and automatic, in order to liberate popular culture from the influence of advertisers, networks and governments.</p>
    </div>

    <h2><a name="problem"></a>The Problem</h2>
    <p>Media has a huge influence on how we collectively understand our world. And that media which is most widely and easily consumed, therefore has the most dominant effect on our culture. Perhaps the best examples are commercial television and radio. They speak to us in a natural way, with a human voice or like we are watching real life. They are inexpensive or free, and constantly being promoted to us.</p>
    <p>The problem is that this media then comes with strings attached. The people who do pay for it, do so in order to inundate us with whatever messages they choose. And instead of the best ideas rising to the top in our culture, our public discussion is full of the white noise of facts and opinions chosen by those with the money or power to push them.</p>
    <p>Until now, we didn't have an alternative to the huge costs of media distribution, so the people who controlled media distribution exerted an influence that was unavoidable. But the internet has changed that relationship, thanks to technologies like broadband, RSS and bittorrent. And social media gives us much better options for finding good content than self-interested promotion by advertisers and big media ever did.</p>
    <p>What's still missing is a way to support artists that truly competes with the commercial model. Media creators want artistic freedom and wide audiences, but also need to support themselves economically. If we can create a truly competitive and sustainable funding model for these artists, we can also have a much more free culture where facts are easier to discern, ideas more fairly compete and our values are more democratically determined.</p>
    
    <h2><a name="solution"></a>A Solution</h2>
    <p>We are building a service that collects ongoing monthly donations from members, and then distributes these donations to content creators. How much gets paid out is based on the percentage of each member's time spent with each creator's content. Members install an application on their media players that submits this information to our site automatically. This system allows for a worry-free experience for members, as they simply choose a monthly donation amount they feel comfortable with while the technology insures the creators they love get the support they need. As the number of members and amount distributed grows, we hope to inspire a movement that gives all creators a real alternative to create free of external influence and make their work freely available to the whole world.</p>

    <h2><a name="status"></a>Where We Stand</h2>
    <p>Getting non-profit status and building the application and system backend.</p>
    
    <h2><a name="team"></a>Our Team</h2>
    <p>Maggos, Hahn, Heineman, Edelman</p>

  </div>
</body>

</html>