<!DOCTYPE html>
<html>

<head>
  <title>Home | Public Patron</title>
</head>

<body>
  <center>
    <img src="/assets/LOGO-PNG.png" width="100%">      
    <p>A Movement to Free Culture & Disrupt Big Media by Supporting Creators Directly</p>
    <br><br><br><br>
  </center>
</body>

</html>