<!DOCTYPE html>
<html>

<head>
  <title>Home | Public Patron</title>
</head>

<body>
  <div class="container">
    <img src="/assets/LOGO-SVG.svg" class="img-responsive" alt="Responsive image">      
    <h1>A Movement to Free Culture & Disrupt Big Media by Supporting Creators Directly</h1>
    <p>We are in the middle of a transition, toward all media being distributed over the internet - music, movies, radio, television. And this shift provides an opportunity to better serve the interests of creators and the fans of their work, as well as to advance creative freedom and public access to culture and knowledge.</p>
    <p>The internet allows everyone to distribute the media they create to the whole world. No labels, studios, broadcasting stations or cable companies are necessary. You just post the files on your own site and you're done. A little more work and you can make a live show or one that downloads new episodes quickly and automatically. There is really no need to make a deal with companies like Netflix, iTunes, YouTube, or Spotify to get your work out there.</p>
    <p>Still supporting yourself while making that media remains difficult. That's what really drives many creators to working with advertisers or one of those new distribution services. But that requires following all of their rules - which can include inserting ads, losing creative control or having to limit access to your content, now or in the future. You might even have to give up ownership of your work completely. And as these new services become virtual monopolies, almost all creators will be left little choice but to accept smaller returns while these networks get rich off of their content. Then there is still the problem of piracy.</p>
    <p>From the public's perspective, this new digital media world is better but it still sucks. Commercials haven't gone away, and they're getting harder to skip. You're left searching for content spread over different services with conflicting limits on how, where and when you can consume it. You have to worry about your hardware, software, and multiple paid accounts. And just because you have access to something today doesn't mean it will be available or play correctly tomorrow, even if you bought it outright. Finally, that real connection we want with artists is too often twisted by distributors and advertisers who demand changes to content for economic or personal reasons.</p>
    <p>We can solve these problems and serve the public good with a people-powered movement. Our platform simply makes the movement possible, by helping the public to donate to creators in exchange for their work being made freely available on the web. We don't get involved in distribution. We just insure that creators get paid a percentage of your monthly donation based on the time you spend consuming their content. That's it. Our vision is that just changing how we pay for our media can create a cultural shift - that as more people donate and creators see the real economic and artistic benefits of our alternative, not only will the old business models of media start to crumble, but popular culture will have the freedom to improve. And everyone will have access to information and art that is now truly free of the demands usually imposed by governments, corporate networks and advertisers.</p>
    <p>Please join us and support the people who make the stuff you love.</p>
  </div>
</body>

</html>