<!DOCTYPE html>
<html lang="en">
  
  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <hr>

        <div class="row">
            <div class="col-sm-8">
              <h1>Join the Movement</h1>
              <p>Please create an account, set up a monthly donation and download our app.</p>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- /.row -->

      <hr>

    </div> <!-- /container -->

  <%= render 'layouts/footer' %>

  <%= render 'layouts/endJS' %>

  </body>
</html>