<% provide(:title, "How It Works") %>
<% provide(:nav2, "active") %>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>How It Works</h1>
      <p>Public Patron is a non-profit charity whose sole purpose is to create, maintain and grow the following technological platform:</p>
      <h2>The Platform</h2>
      <p>We take monthly donations, track playing of files by donors and distribute those donations based on that data.</p>
    </div>
    <div class="col-sm-4"></div>
  </div>  <!-- /.row -->
  <hr>
</div> <!-- /container -->

<%= render 'layouts/footer' %>

<%= render 'layouts/endJS' %>
