<% provide(:title, "Support Us") %>
<% provide(:nav5, "active") %>
<!DOCTYPE html>
<html lang="en">
  
  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <hr>

        <div class="row">
            <div class="col-sm-8">
              <h1>Support Us</h1>
              <p>We ask that everyone first become members and monthly donors to the artists. If you would also like to help us keep this service running, you can donate directly to us. Or buy our gear and help spread the word.</p>
              <p>Thank you.</p></p>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- /.row -->

      <hr>

    </div> <!-- /container -->

  <%= render 'layouts/footer' %>

  <%= render 'layouts/endJS' %>

  </body>
</html>