<!DOCTYPE html>
<html lang="en">
  
  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <hr>

        <div class="row">
            <div class="col-sm-8">
              <div class="detailBox">ALL OF THE FOLLOWING IS STILL PENDING</div>
              <h1>Who We Are</h1>
      <p>Public Patron is an Illinois non-profit corporation exempt from Federal income taxation under IRC 501(c)(3). It is governed by its Board of Directors.</p>
      <h2>Mission</h2>
      <p>The mission of Public Patron is to facilitate open access to all digital media exempt from commercial and governmental influence, in service of the socioeconomic benefit of an educated and cultural populace. The charity shall accomplish this mission by incentivizing creators to make their media content free to all over the internet in return for ongoing, crowd-funded donations provided by our members using a process made simple and automatic with our <a href="/static_pages/how_it_works">technology platform</a>.</p>
      <h2>Board of Directors</h2>
      <ul>
        <li>William Maggos</li>
        <li>Joe Hahn</li>
        <li>Eric Heineman</li>
        <li>Mike Saul</li>
        <li>Clint Wiese</li>
      </ul>
      <h2>Documents</h2>
      <ul>
        <li>Articles of Incorporation</li>
        <li>IRS Form 1023</li>
        <li>Board of Directors</li>
        <li>Bylaws</li>
        <li>Conflict of Interest Policy</li>
      </ul>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- /.row -->

      <hr>

    </div> <!-- /container -->

  <%= render 'layouts/footer' %>

  <%= render 'layouts/endJS' %>

  </body>
</html>