@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
}

p {
  font-size: 16px;
  line-height: 1.8;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

.footer {
  background-color: #222222;
  color: #ffffff;
  padding: 15px 0px 15px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  img {
    margin: 30px 20px 30px 10px;
    width: 80%; 
  }
  ul, ul li {
    list-style-type: none;
    padding: 3px;
    padding-left: 2px;
    font-size: 16px;
  }
  a {
    color: #ffffff;
  } 
}

.img-responsive { width: 100% \9; }

.jumbotron {
  background-color: #000000;
  img {
    float: left;
    width: 60%;
    margin: 0px 50px 0px 0px;
  }
  h1 {
    padding: 0px;
    color: #e0e0e0;
    font-size: 3.1em;
    text-align: justify;
    margin: 50px 30px 0px 0px;
    .jumbotext1 {
      font-size: .85em;
    }
    .jumbotext2 {
      font-size: .81em;
    }
  }
}

.container .details {
  padding-bottom: 310px;
}

.detailBox {
  padding: 10px;
  margin: 30px;
  background-color: red;
  color: #ffffff;
}

/* Mobile device styles
-------------------------------------------------- */
@media (max-width: 500px)
{
  body {
  /* Margin bottom by footer height */
  margin-bottom: 1000px;
  }
  .jumbotron {
    img {
      width: 100%;
      margin: 35px 0px 10px 0px;
    }
    h1 {
      padding: 0px;
      font-size: 2.5em;
      text-align: justify;
      margin: 40px 0px 0px 0px;
      .jumbotext1 { font-size: .85em; }
      .jumbotext2 { font-size: .81em; }
    }
  }
  .container .details {
    padding-bottom: 15px;
  }
  .footer {
    /* Set the fixed height of the footer here */
    height: 1000px;
    img {
      margin: 10px 10px 10px 10px;
      width: 90%; 
    }
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}