@import "bootstrap-sprockets";
@import "bootstrap";

/* old site styling */

body {
  font-family: Verdana;
}

.wrapper {
  width: 80%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  border: 1px solid #787878;
  background: #f8f8f8;
  overflow: hidden;
  border-radius: 5px;
}

.header ul {
  margin: 15px 25px 15px 25px;
}

.header ul {
  color: #787878;
}

/* mouse over link */
.header a:hover { color: #000000; text-decoration: none; }
/* visited, unvisited, and selected links */
.header a:link, a:visited, a:active { color: #787878; text-decoration: none; }

.center {
  width: 80%;
  margin: 50px auto 50px auto;
  overflow: hidden;
}

.center h1 {
  margin: 20px 5px 20px 5px;
  font-size: 60px;
}

.center p {
  margin: 20px 20px 10px 20px;
  font-size: 20px;
}

.center img {
  margin: 10px 50px 10px 10px;
}

.banner {
  background: url('/images/logo.png') no-repeat left top;
  padding: 20px 0px 0px 400px;
  width: 100%;
  height: 100px;
}

.banner a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
}

.banner a:hover {
  background-color: #000000;
}

.title {
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  margin: -16px -5px 0px -8px;
  border: 0px;
}

.title h1 {
  font-size: 72px;
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100%;
  margin: -16px -5px 0px -8px;
  padding: 20px;
  border: 0px;
  xbackground-color: #ffffff;
}

li.home {
  width: 200px;
}

.footer {
  width: 100%;
  margin: -16px -5px 0px -8px;
  border: 0px;
  background-color: #000000;
}

.center-section {
  xwidth: 980px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}