@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2 {
  padding: 20px 0px 10px 0px;
}

p {
  font-size: 16px;
  line-height: 1.8;
}

.img-responsive { width: 100% \9; }

.jumbotron {
  background-color: #000000;
  color: #ffffff;
  img {
    float: left;
    width: 60%;
    margin: 20px 50px 0px 0px;
  }
  h1 {
    padding: 0px;
    color: #e0e0e0;
    font-size: 3.1em;
    text-align: justify;
    margin: 70px 30px 0px 0px;
    .jumbotext1 {
      font-size: .85em;
    }
    .jumbotext2 {
      font-size: .81em;
    }
  }
}

#footer {
  background-color: #e0e0e0;
  padding: 20px 0px 20px 0px;
}

.detailBox {
  padding: 10px;
  margin: 30px;
  background-color: red;
  color: #ffffff;
}
